<!-- ======= SECTION ABOUT ME ======= -->

<section class="section-about" id="about-me">
  <div class="container about-container">
    <h2 class="title-about visually-hidden">About me</h2>
    <div class="box">
      <!-- <div class="text-wrapper">
        <p class="main-text-about">
          I'm a student of the <span class="red">Lviv Polytechnic</span>,
          majoring in computer science. I am also taking the
          <span class="grey">Fullstack developer</span> course from GoIt.
          Participated in both individual and team projects.
        </p>
      </div> -->

      <picture class="about-picture">
        <source
          srcset="
            ./images/about/about-desktop-min.png     1x,
            ./images/about/abbout-desktop@2x-min.png 2x
          "
          media="(min-width: 1440px)"
          width="680"
          height="700"
        />
        <source
          srcset="
            ./images/about/about-tablet-min.png    1x,
            ./images/about/about-tablet@2x-min.png 2x
          "
          media="(min-width: 768px)"
          width="704"
          height="700"
        />
        <source
          srcset="
            ./images/about/about-mobile-min.png    1x,
            ./images/about/about-mobile@2x-min.png 2x
          "
          media="(max-width: 767px)"
          width="343"
          height="500"
        />
        <!-- <img
          class="about-photo"
          src="./images/about/about-desktop-min.png"
          alt="Lloyd Jefferson`s foto"
          width="680"
          height="700"
        /> -->
      </picture>
    </div>

    <ul class="about-me-list accordion-container">
      <li class="about-me-item ac">
        <h3 class="subtitle-about ac-header ac-trigger">
          About me<button
            class="btn-svg-wrapper"
            type="button"
            aria-label="Aria Name"
          >
            <svg class="ac-icon" width="20" height="20">
              <use href="./images/svg/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="about-text ac-text">
            I'm a student of the Lviv Polytechnic,
            majoring in computer science. I am also taking the
            <span class="red">Fullstack developer</span> course from GoIt.
            Participated in both individual and team projects.
          </p>
          <p class="about-text ac-text">
            I am Ostap Kostiv, a purposeful Frontend developer with analytical
            skills and organizational abilities. Ambitious, responsible,
            punctual, and goal-oriented, always eager to learn and embrace new
            experiences. The ability to focus on details and time management are
            also good strengths of mine. Friendly team player with a good sense
            of humor.
          </p>
          <p class="about-text ac-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="about-me-item ac">
        <h3 class="subtitle-about ac-header ac-trigger">
          Role<button
            class="btn-svg-wrapper"
            type="button"
            aria-label="Aria Name"
          >
            <svg class="ac-icon" width="20" height="20">
              <use href="./images/svg/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="about-text ac-text">Frontend development</p>
          <p class="about-text ac-text">Fullstack development</p>
        </div>
      </li>
      <li class="about-me-item ac">
        <h3 class="subtitle-about ac-header ac-trigger">
          Education<button
            class="btn-svg-wrapper"
            type="button"
            aria-label="Aria Name"
          >
            <svg class="ac-icon" width="20" height="20">
              <use href="./images/svg/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="about-text ac-text">
            2023 - 2027 / Lviv Polytechnic National University / Lviv
          </p>
          <p class="about-text ac-text">
            2024 - 2025 / Fullstack Development Diploma, GoIT IT School / Lviv
          </p>
        </div>
      </li>
    </ul>
    <div class="swip-wrap">
      <div class="swiper-container-about">
        <ul class="skills-list swiper-wrapper">
          <li class="skills-item swiper-slide">
            <p class="skills-text">HTML</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">CSS</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">JavaScript</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">React</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">Node. js</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">GitHub</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">Soft skills</p>
          </li>
        </ul>
        <div class="swiper-button-next-about"></div>
      </div>
      <button class="swip-btn" type="button">
        <svg class="icon-btn-right" width="28" height="28">
          <use href="./images/svg/symbol-defs.svg#icon-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
