<section class="hero">
  <div class="container">
    <h1 class="title-hero" id="txt">
      Hello. <br />
      I'm Frontend developer <br />
      Ostap Kostiv.
    </h1>

    <div class="social-hero">
      <ul class="social-list">
        <li class="social-list-item">
          <a
            href="https://www.instagram.com/kost1v/"
            class="social-link"
            target="_blank"
            ><span class="text-hidden">ig</span
            ><svg class="social-icons">
              <use href="./images/svg/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <!-- <li class="social-list-item">
          <a
            href="https://www.linkedin.com/in/ostap-kostiv-73879a2a8/"
            class="social-link"
            target="_blank"
            ><span class="text-hidden">in</span
            ><svg class="social-icons">
              <use href="./images/svg/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li> -->
        <li class="social-list-item">
          <a
            href="https://github.com/Kost1v"
            class="social-link"
            target="_blank"
            ><span class="text-hidden">gh</span
            ><svg class="social-icons">
              <use href="./images/svg/symbol-defs.svg#icon-github-mark"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item item-email">
          <a
            href="mailto:ostapcostiv@gmail.com"
            class="social-link"
            target="_blank"
            >ostapcostiv@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
