<section class="project-section" id="project-section-id">
  <div class="container">
    <h2 class="projects-title">PROJECTS</h2>
    <div class="swiper projects-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="control-desktop">
            <div class="background-white">
              <ul class="technology-list">
                <li class="technology-list-item">#html</li>
                <li class="technology-list-item">#css</li>
                <li class="technology-list-item">#js</li>
                <li class="technology-list-item">#git</li>
              </ul>
              <h3 class="project">
                Resume website for a beginning full-stack developer
              </h3>
              <a
                class="project-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://kost1v.github.io/Future-Developers2.0/"
                >See project</a
              >
            </div>
            <div class="background-dark" style="padding: 0 40px;">
              <img src="../images/project/Screenshot_15.png" alt="Portfolio" class="box-for-img" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="control-desktop">
            <div class="background-white">
              <ul class="technology-list">
                <li class="technology-list-item">#html</li>
                <li class="technology-list-item">#css</li>
                <li class="technology-list-item">#js</li>
                <li class="technology-list-item">#react</li>
              </ul>
              <h3 class="project">
                Contact storage application with registration
              </h3>
              <a
                class="project-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://goit-react-hw-08-two-ecru.vercel.app/"
                >See project</a
              >
            </div>
            <div class="background-dark" style="padding: 0 40px;">
              <img src="../images/project/Screenshot_14.png" alt="PhoneBook App" class="box-for-img" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="control-desktop">
            <div class="background-white">
              <ul class="technology-list">
                <li class="technology-list-item">#html</li>
                <li class="technology-list-item">#css</li>
                <li class="technology-list-item">#js</li>
                <li class="technology-list-item">#react</li>
              </ul>
              <h3 class="project">
                Site for searching for cars for rent
              </h3>
              <a
                class="project-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://rental-car-tan-tau.vercel.app/"
                >See project</a
              >
            </div>
            <div class="background-dark" style="padding: 0 40px;">
              <img src="../images/project/Screenshot_13.png" alt="Rent a car" class="box-for-img" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-control-prj" id="custom-control">
      <button
        type="button"
        class="button-prev1"
        aria-label="Previous slider review"
      >
        <svg class="arrow-icon1">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button
        type="button"
        class="button-next1"
        aria-label="Next slider review"
      >
        <svg class="arrow-icon1">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
